
.fondo{
    
    -fx-background-image: url("../img/pp.jpg");
    
}
 

.fondoInicio{

}
.fondoInicio{

    -fx-background-color: blue;
}
.text-area {
    -fx-background-color: opacity;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.cartaFrente{
        -fx-background-image: url("../img/tarjeta.png");
        -fx-background-size: 100%;
    
}
.ContenedorEstrellas{
    -fx-background-image: url("../img/barraestrellas.png");
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}